@font-face {
    font-family:              Refrigerator-Deluxe-Light;
    src:                      url('refrigerator_deluxe_light.ttf');
}

body {
    background-color:         #323232;
		font-family:              Refrigerator-Deluxe-Light;
}

iframe {
    position:                 absolute;
    left:                     0;
    top:                      0;
    overflow:                 hidden;
    border-style:             solid;
    border-width:             0px;
    border-radius:            5px;
    -webkit-border-style:     solid;
    -webkit-border-width:     0px;  
    -webkit-border-radius:    5px;  
    
}

#header {
    position:                 absolute;
    left:                     0.2vw;
    top:                      0.5vh;
    width:                    99.6vw;
    height:                   9.5vh;
    background-color:         #204B7B;
}

#title {
    position:                absolute;
    left:                    0;
    top:                     0;
    width:                   24.5vw;
    text-align:              center;
    margin:                  0.8% 0;
}        

#title span {
    color:                   #ffffff;
    font-size:               6vh;
}

#nav-bar-top {
    position:                absolute;
    left:                    24.8vw;
    width:                   50vw;
    height:                  100%;
}

#nav-bar-top img {
    height:                  100%;
    margin:                 0 6.3%;
}

#nav-bar-bottom {
    position:                absolute;
    left:                    24.8vw;
    width:                   50vw;
    height:                  100%;
}

#nav-bar-bottom img {
    height:                  100%;
    margin:                  0 9.8%;
}

#left {                
    position:                 absolute; 
    left:                     0.2vw; 
    top:                      10.5vh; 
    width:                    24.5vw; 
    height:                   84.5vh; 
    background-color:         #000000; 
}                             
                              
#center {                     
    position:                 absolute; 
    left:                     25vw; 
    top:                      10.5vh; 
    width:                    50vw; 
    height:                   84.5vh; 
    background-color:         #000000;
}

#right {
    position:                 absolute; 
    left:                     75.3vw; 
    top:                      10.5vh; 
    width:                    24.5vw; 
    height:                   84.5vh; 
    background-color:         #000000;
}                 

#footer {
   position:                  absolute;
   left:                      0.2vw;
   top:                       95.5vh;
   width:                     99.6vw;
   height:                    4vh;
   background-color:          #204B7B; 
}   

#ut-branding {
    position:                absolute;
    left:                    75.3vw;  
    width:                   24.5vw;
    text-align:              center;
    margin:                  0.26% 0;
}    

#ut-branding span {
    color:                   #ffffff;
    font-size:               2.5vh;
}

.button {
    background:            #555555;
    border-radius:         5px;
    box-shadow:            rgba(0,0,0,1) 0 1px 0;
    text-shadow:           rgba(0,0,0,.4) 0 1px 0;
    display:               inline-block;
    color:                 #ffffff;
    font-size:             4vh;
    text-decoration:       none;
    text-align:            center;
}

.button:hover {
    background:            #969696;
    color:                 #ebebeb;
}

.button:active {
    background:            #646464;
}
