@font-face {
    font-family:              Refrigerator-Deluxe-Light;
    src:                      url('refrigerator_deluxe_light.ttf');
}

body {
    background-color:         #323232;
		font-family:              Refrigerator-Deluxe-Light;
}

iframe {
    position:                 absolute;
    left:                     0;
    top:                      0;
    overflow:                 hidden; 
    border-style:             solid;
    border-width:             0px;
    border-radius:            5px;
    -webkit-border-style:     solid;
    -webkit-border-width:     0px;  
    -webkit-border-radius:    5px;  
    
}

#header {
    position:                 absolute;
    left:                     0.2vw;
    top:                      0.5vh;
    width:                    99.6vw;
    height:                   9.5vh;
    background-color:         #204B7B;
}

#title {
    position:                absolute;
    left:                    0;
    top:                     0;
    width:                   24vw;
    text-align:              center;
    line-height:             9.5vh;
}        

#title a {
    text-decoration:         none;
    color:                   #ffffff;
    font-size:               4vh;
    display:                 block;
}

#nav-bar-top {
    position:                absolute;
    left:                    24.3vw;
    width:                   61vw;
    height:                  100%;
    z-index:                 101;
}

#nav-bar-top td {
    padding:                 0;
    text-align:              center;
}

#nav-bar-top span {
    color:                   white;
    padding:                 0 0.25vw;
    font-size:               3.5vw;
}

#nav-bar-top a {
    text-decoration:         none;
    color:                   white;
}

#nav-bar-top p {
    margin:                  0;
    font-size:               0.8vw;
}

#nav-bar-top img {
    max-width:               15.25vw;
    height:                  6vh;
}

#nav-bar-bottom {
    position:                absolute;
    left:                    24.3vw;
    width:                   61vw;
    height:                  100%;
    z-index:                 101;
}

#nav-bar-bottom td {
    padding:                 0;  
    text-align:              center;
}

#nav-bar-bottom span {
    color:                   white;
    padding:                 0 0.1vw;
    font-size:               1vw;
}

#nav-bar-bottom a { 
    text-decoration:         none;
    color:                   white;
}

#nav-bar-bottom p { 
    margin:                  0;
    font-size:               0.3vw;  
}

#nav-bar-bottom img {
    max-width:               15.25vw;
    height:                  2vh;
}

#center {                     
    position:                 absolute; 
    left:                     0.2vw; 
    top:                      10.5vh; 
    width:                    99.6vw; 
    height:                   84.5vh; 
    background-color:         #000000;
}

#footer {
   position:                  absolute;
   left:                      0.2vw;
   top:                       95.5vh;
   width:                     99.6vw;
   height:                    4vh;
   background-color:          #204B7B; 
}   

#ut-branding {
    position:                absolute;
    right:                   0;
    width:                   14vw;
    text-align:              center;
    line-height:             4vh;
}    

#ut-branding span {
    color:                   #ffffff;
    font-size:               2vh;
}

.button {
    background:            #555555;
    border-radius:         5px;
    box-shadow:            rgba(0,0,0,1) 0 1px 0;
    text-shadow:           rgba(0,0,0,.4) 0 1px 0;
    display:               inline-block;
    color:                 #ffffff;
    font-size:             4vh;
    text-decoration:       none;
    text-align:            center;
}

.button:hover {
    background:            #969696;
    color:                 #ebebeb;
}

.button:active {
    background:            #646464;
}

#overlay {
    position:              absolute;
    height:                84.5vh;
    left:                  0;
    top:                   10.5vh;
    right:                 0;
    background:            #000;
    z-index:               1000;
}

#loading {
    position:             absolute;
    left:                 50%;
    top:                  50%;
    width:                30vw;
    height:               30vh;
    margin:               -15vh 0 0 -15vw; /* shift top-left corner of div by 1/2 the width and height to center */
    background-color:     rgba(89, 115, 116, 0.7);

    font-size:            7vh;
    text-align:           center;
    vertical-align:       middle;
    line-height:          15vh;  /* divide height by number of lines in text message */
    color:                white;
    z-index:              1001;
}

#navigationCover {
    position:              absolute;
    height:                100vh;
    left:                  0;  
    top:                   -10.5vh;  
    bottom:                0;  
    right:                 0;  
    background:            #000;
    opacity:               0.6;
}

