body {
    background-color: #4B5C6E;
}

iframe {
    overflow:       hidden;
    border-style:   solid;
    border-width:   0px;
}

#left {
    position:					absolute; 
		left:							0vw; 
		top:							0vh; 
		width:						24vw; 
		height:						95vh; 
		background-color: #000000; 
		box-shadow: 			1px 1px 5px #212D3A; 
		margin: 					5px;
}

#center {
		position:					absolute; 
		left:							25vw; 
		top:							0vh; 
		width:						49vw; 
		height:						95vh; 
		border-style:			solid; 
		border-width:			0px; 
		border-color:			#000000; 
		box-shadow: 			1px 1px 5px #212D3A; 
		margin: 					5px;
}

#right {
		position:					absolute; 
		left:							75vw; 
		top:							0vh; 
		width:						24vw; 
		height:						95vh; 
		box-shadow: 			1px 1px 5px #212D3A; 
		margin: 					5px;
}

#buttonTree {
    width:			100%;
    margin:     0 auto;
    padding:    0px;
}

canvas {
    outline:    none; 
/*    border-style:   solid; 
    border-width:   0px;
    border-color:   #000000; */
}
