@font-face {
    font-family:           Refrigerator-Deluxe-Light;
    src:                   url('../../refrigerator_deluxe_light.ttf');
}   

body {
    font-family:           Refrigerator-Deluxe-Light;
}

.button {
    background:            #555555;
    border-radius:         5px;
    box-shadow:            rgba(0,0,0,1) 0 1px 0;
    text-shadow:           rgba(0,0,0,.4) 0 1px 0;
    display:               inline-block;
    color:                 #ffffff;
    font-size:             4.5vh;
    text-decoration:       none;
    text-align:            center;
}

.button:hover {
    background:            #969696;
    color:                 #ebebeb;
}

.button:active {
    background:            #646464;
}
