#description {
  position:                absolute;
  right:                   0;  
  top:                     0;  
  height:                  100vh;
  width:                   13vw;
  border-left:             0.3vw solid #323232;  
  padding:                 0 0.5vw;
} 

#mainTitle {
  color:                   #cccc00 !important;
  font-size:               3vh !important;
  margin:                  1vh 0; 
}

.question {
  color:                   #ccaa22;
}

#description p,li {
  color:                   white;
  font-size:               2vh; 
}

#description a {
  color:                   #6699ff;
}

#description strong {
  color:                   #ffffbb;
}

#description img {
  width:                   3vw;
  height:                  3vw;
}
