body {
    background-color:      #000000;
    margin:                0px;
}

#buttonContainer {
    display:               inline-block;
    position:              absolute;
		top:                   1%;
    left:                  1%;
}

#buttonTree {
    width:                 100%;
    margin:                0 auto;
    padding:               0px;
}

.button {
    border-top:            1px solid #c8c8c8;
    background:            #d2d2d2;
    border-radius:         0px;
    box-shadow:            rgba(0,0,0,1) 0 1px 0;
    text-shadow:           rgba(0,0,0,.4) 0 1px 0;
    display:               inline-block;
    color:                 #ffffff;
    font-size:             2vh;
    font-family:           Helvetica, Arial, Sans-Serif;
    text-decoration:       none;
    vertical-align:        middle;
    
    background:            -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#d2d2d2));
    background:            -webkit-linear-gradient(top, #dcdcdc, #d2d2d2);
    background:            -moz-linear-gradient(top, #dcdcdc, #d2d2d2);
    background:            -ms-linear-gradient(top, #dcdcdc, #d2d2d2);
    background:            -o-linear-gradient(top, #dcdcdc, #d2d2d2);
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    -webkit-box-shadow:    rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow:       rgba(0,0,0,1) 0 1px 0;
}

.button:hover {
    border-top-color:      #969696;
    background:            #969696;
    color:                 #ebebeb;
}

.button:active {
    border-top-color:      #646464;
    background:            #646464;
}


































canvas {
    outline:    none; 
/*        position:   fixed;
    bottom:     0px; */
}
