@font-face {
    font-family:           Refrigerator-Deluxe-Light;
    src:                   url('../../refrigerator_deluxe_light.ttf');
}    

body {
    width:                 95%;
    overflow:              hidden;
    color:                 #eeeeff;
    font-family:           Refrigerator-Deluxe-Light;
    background-color:      #000000;
}

#mainTitle {
   	color:                 #cccc00;
    font-size:             4vh; 
}

.question {
	  color:                 #ccaa22;
    font-size:             2.0vh; 
}

p,li {
    color:                 white;
    font-size:             1.4vh; 
}

a {
    color:                 #6699ff;
}

strong {
    color:                 #ffffbb;
}
