@font-face {
    font-family:      Refrigerator-Deluxe-Light;
    src:              url('../../refrigerator_deluxe_light.ttf');
}   

body {
    font-family:      Refrigerator-Deluxe-Light;
    background-color: #000000;
    margin:           0px;
}

html {
    overflow:         hidden;
}

#scoringHistory {
    position:              absolute;
    left:                  0;  
    top:                   0;  
    width:                 24vw;;
    height:                100vh;
    z-index:               1;  
    border-right:          .3vw solid #323232;
    overflow:              auto;
}

#scoreTable {
    width:                 98%;
    margin:                1%;
    color:                 white;
    border-collapse:       collapse;
}

#scoreTable th, td {
    border:                1px solid rgba(160, 160, 160, 0.5);
}

#scoreTable td {
    font-size:             1.2vw;
    text-align:            center;
}

canvas {
    outline:          none; 
    position:         absolute;
    left:                  24.3vw;
}

#restartButton {
    top:		6vh;
    right:		17.8vw;
    width: 		5vw;
    height:		3vh;
    line-height:	3vh;
    font-size:		1.5vw;
    background:		rgb(8, 42, 44);
}
    

.button {
    -moz-border-radius:    3px; 
    -webkit-border-radius: 3px; 
    font-family:           Refrigerator-Deluxe-Light;
    font-size:             2vw;
    color:                 white; 
    width:                 15vw;
    height:                5vh;
    line-height:           5vh;
    background:            rgba(59, 245, 242, 0.17);
    z-index:               1;
    position:              absolute;
}

#addCountryButton {
    top:                   15vh;
    right:                 38vw;
}

.box {
    -moz-border-radius:    3px; 
    -webkit-border-radius: 3px; 
    width:                 12.8vw;
    height:                52.7vh;
    background:            rgba(59, 245, 242, 0.17);
    color:                 white;
    z-index:               1;
    position:              absolute;
    overflow:              hidden; 
    font-family:           Refrigerator-Deluxe-Light;

}

#letters {
    top:                   21vh;
    right:                 51.5vw;
    width:                 1.5vw;
}

.letter {
  font-size:               0.7vw;
  text-decoration:         none;
  display:                 block;
  color:                   white;
  text-align:              center;
  background-color:        rgba(106, 113, 106, 0.4);
  border-radius:           1px;
  border-bottom:           1px solid rgba(39, 37, 37, .5);
}

#countryListOverlay {
  top:                     21vh;
  right:                   38vw;
  background:              rgba(0,0,0,0); 
}

#addCountryBox {
    top:                   21vh;
    right:                 38vw;
}

#addCountryBox ul {
  list-style-type:        none;
  margin:                 0;
  padding:                0;
}
 
#addCountryBox li {
  border-bottom:           0.25vh solid rgba(39, 37, 37, .5);
  height:                  3vh;
  line-height:             3vh;
  text-align:              center;
}
 
#addCountryBox li:last-child {
  border:                  none;
}

#addCountryBox li a { 
  font-size:               1vw;
  width:                   1.1vw;
  text-decoration:         none;
  display:                 inline;
  text-align:              center;
}

#plus {
  color:                   #00FF00;
  float:                   left;
}

#plusBackground {
  width:                   1.1vw;
  height:                  3vh;
  position:                absolute;
  background-color:        rgba(106, 113, 106, 0.4);
  border-radius:           3px;
  z-index:                 -1;
}

#plusBlocker {
  width:                   1.1vw;
  height:                  3vh;
  position:                absolute;
  background-color:        rgba(18, 18, 18, 0.8);
  border-radius:           3px;
}

#addCountryBox li p {
  display:                 inline;
  font-size:               0.8vw; 
}

#opentour img {
  width:                   3vw;
  height:                  3vw;
  border:                  0;
  position:                absolute;
  top:                     1.5vh;
  left:                    25vw;
}

.fakeToolTip {
    position:              absolute;
}

#scoreToolTip {
    left:                  31vw;  
    top:                   2.5vh; 
    width:                 5vw; 
    height:                2vh;
}

#timerToolTip {
    right:                 21.5vw;   
    top:                   2.5vh;   
    width:                 2vw;  
    height:                2vh;
}

#inToolTip {
    left:                  24.5vw;  
    bottom:                14.5vh; 
    width:                 30vw; 
    height:                2vh;
}

#outToolTip {
    right:                 14.5vw; 
    bottom:                14.5vh; 
    width:                 30vw; 
    height:                2vh;
}

::-webkit-scrollbar { 
    display: none; 
}
